/PrimeiraProva1/build/
/PrimeiraProva1/nbproject/private/
/PrimeiraProva2/build/
/PrimeiraProva2/nbproject/private/
/provaJogoPedraPapelTesoura/build/
/provaJogoPedraPapelTesoura/nbproject/private/
/ProvaCampoMinado/build/
/ProvaCampoMinado/nbproject/private/
/AgendaBase/build/
/AgendaBase/nbproject/private/
/ArvoreGenealogica/build/
/ArvoreGenealogica/nbproject/private/
